* {
    margin: 0;
    padding: 0;
}

.start {
    background-image: url("../images/startbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    max-width: 1180px;
    min-height: 72px;
    margin: 0 auto;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 625px;
    min-height: 25px;
    gap: 0 24px;
    padding-right: 49px;
}

.header__item {
    text-decoration: none;
    color: #FFF;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.55px;
}

.header__consultation.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    min-height: 44px;
    background-color: #1A3E3E;
    color: #FFF;
    vertical-align: middle;
    border-radius: 4px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .12em;
}

.start__info {
    padding-top: 416px;
    padding-bottom: 82px;
    max-width: 1180px;
    margin: 0 auto;
}

.start__header {
    font-size: 50px;
    color: #FFF;
    padding-bottom: 41px;
    font-family: NEXT ART;
    letter-spacing: 0.02em;
    line-height: 75px;
    min-height: 150px;
}

.programm.start__programm {
    position: relative;
    background: rgb(255, 255, 255, 0.2);
    display: flex;
    padding: 40px 43px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    gap: 0 24px;
    max-width: 1180px;
    border-radius: 10px;
}

.programm__location, .programm__date, .programm__group {
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    color: #FFF;
    padding-left: 16px;
    font-size: 16px;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.programm__date {
    padding: 0;
}

.date {
    padding: 0 8px;
}

.programm_location_div, .programm_date_div, .programm_group_div {
    width: 270px;
}

.start__programm option {
    color: #374b51;
}

.start__programm option {
    background-color: #374b51;
    color: #FFF;
}

.programm__hint {
    color: #FFF;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: Nunito Sans;
    padding: 0 8px;
}

.date {
    color-scheme: dark;
    background: transparent;
    border: none;
}

.programm__search.button {
    background-color: #FFF;
    border: none;
    border-radius: 4px;
    width: 213px;
    height: 52px;
    padding: 0 36px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .12em;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 726px;
}

.about__info {
    display: flex;
    align-items: center;
    width: 1180px;
    height: 526px;
    margin: 0 auto;
}

.about__pictures {
    position: relative;
    width: 480px;
    height: 526px;
}

.about__picture {
    border-radius: 24px;
    width: 350px;
    height: 400px;
}

.about__picture.country {
    position: absolute;
    top: 126px;
    left: 130px;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    height: 398px;
    width: 580px;
}

.about_small_header {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 20px;
    font-size: 24px;
}

.about__header {
    font-family: Nunito Sans;
    font-weight: 800;
    line-height: 32px;
    font-size: 38.4px;
    margin-top: 8px;
}

.about__paragraph {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 40px 0;
}

.about__programm.button {
    width: 200px;
    height: 52px;
    background-color: #1A3E3E;
    border: none;
    border-radius: 4px;
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.12em;
}

.offer {
    width: 100%;
    min-height: 771px;
    background-color: #F3F5F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
}

.offer__text {
    width: 580px;
    height: 591px;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.offer_small_header {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

.offer__header {
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
}

.offer__paragraph {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.offer__advantage {
    display: flex;
}

.offer_advantage_text {
    padding-left: 16px;
}

.offer_advantage_header {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .12em;
    margin-bottom: 4px;
}

.offer_advantage_paragraph {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.offer__price.button {
    color: #FDFDFD;
    background-color: #1A3E3E;
    width: 236px;
    height: 52px;
    border: none;
    border-radius: 4px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .12em;
}

.offer__pictures {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 250px);
    gap: 10px;
}

.offer__picture {
    width: 250px;
    height: 250px;
    object-position: center;
    object-fit: cover;
}

.offer__picture.beach, .offer__picture.alpines {
    border-radius: 0 50px 0 50px;
}

.offer__picture.canyon, .offer__picture.snow_mountains {
    border-radius: 50px 0 50px 0;
}

.popular {
    width: 100%;
    min-height: 898px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1180px;
    gap: 50px 0;
    font-family: Nunito Sans;
}

.popular__headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular_small_header {
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    color: #F2BE22;
}

.popular__header {
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
}

.popular__directions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.popular__direction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
}

.popular__direction.lake__mountain {
    background-image: url('../images/popular_picture1.png');
}

.popular__direction.night__mountain {
    background-image: url('../images/popular_picture2.png');
}

.popular__direction.yoga__mountain {
    background-image: url('../images/popular_picture3.png');
}

.popular_direction_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 65px;
    height: 32px;
    margin-top: 50px;
    background-color: rgba(253, 253, 253, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 4px 0 0 4px;
}

.popular_direction_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 0 0 32px 32px;
    height: 90px;
}

.popular_direction_description, .popular__rating.button {
    color: #FDFDFD;
}

.description__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

.description__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.direction__price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 86px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.popular__rating.button {
    width: 244px;
    height: 52px;
    background-color: #1A3E3E;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .12em;
}

.impression {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1036px;
    background-color: #F3F5F4;
}

.impression__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px 0;
    font-family: Nunito Sans;
}
.impression_small_header {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}

.impression__header {
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
}

.impression__states {
    display: grid;
    grid-template-columns: repeat(2, 580px);
    grid-template-rows: repeat(2, 312px);
    gap: 24px 20px;
}

.impression__state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background-color: #FDFDFD;
}

.state__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 280px;
    width: 294px;
}

.state__text {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 24px;
}

.state__header {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.state__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.state__credits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    width: 100%;
}

.state__date {
    color: #F2BE22;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.state__read {
    text-decoration: none;
    color: #1A3E3E;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.state__picture {
    width: 230px;
    height: 280px;
    border-radius: 6px;
    object-position: center;
    object-fit: cover;
}

.impression__materials.button {
    color: #FDFDFD;
    width: 220px;
    height: 52px;
    background-color: #1A3E3E;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .12em;
}

.report {
    width: 100%;
    min-height: 1006px;
}

@font-face {
    font-family: NEXT ART;
    src: url("../fonts/NEXT\ ART_Bold.otf");
}

@font-face {
    font-family: Nunito Sans;
    src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}